#map { height: calc(100vh - 175px); }  /* Adjust based on header height */  
.ol-popup { width: 300px; } 

.green {
  background-color: green;
  color: white;
}
.red {
  color: white; 
  background-color: red;
}
main,
article,
section:not([class*="grid"]),
body > :where(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, pre, table):not(.is-full-bleed) {
  /* width: 90ch; */    /* or 80ch, 100ch, 65rem, 90%, whatever feels good */
  /* optionally: */
  /* padding-inline: 2rem; */   /* adjust side padding if you want more/less breathing room */
}

.more-toggle {
  color: #2980b9;
  cursor: pointer;
  font-weight: bold;
}

.more-toggle:hover {
  color: #1a5276;
  text-decoration: underline;
}

.parent {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}

.parent > h4, .child {
  margin: 10px;
  padding: 5px;
}

.child {
  background: white;
}

.child > b, p {
  margin: 4px;
  font-size: 90%;
}
